html,
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  width: 100vw;
  height: 100vh;
  padding: 10px 20px;
  /* Since won't support screens size less than 1000px, a scroll will appear */
  min-width: 1000px;
}

h1 {
  text-align: center;
}

form {
  width: 50%;
  min-width: 880px;
  margin: 0 auto;
  margin-top: 2%;
}

fieldset {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  border: none;
  align-items: center;
}

label {
  margin-right: 10px;
  margin-left: 5px;
  font-size: 16px;
}

input {
  font-size: 16px;
}

input[type="number"] {
  margin-right: 20px;
}

.runAlgoButton {
  width: 100px;
  height: 30px;
}

#user-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: paleturquoise;
}

#visualiser {
  height: 70vh;
  width: 100%;
  /* max-width: 1000px; */
  margin: auto;
  background-color: aqua;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 0 2px;
}

.visualizerNode {
  background-color: palevioletred;
  margin-right: 2px;
  border-radius: 1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  max-width: 20px;
  position: relative;
}

.visualizerNode:last-child {
  margin-right: 0;
}

.visualizerTextNode {
  font-size: 10px;
  position: absolute;
  bottom: -15px;
  width: 100%;
  text-align: center;
  letter-spacing: -1px;
}

#actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: goldenrod;
}
